@using Demo.BusinessLogic.DTOs.EmployeeDtos
@using Demo.DataAccess.Models.Employee_Model
@using Demo.DataAccess.Models.Shared.Enums
@using Demo.Presentation.ViewModels.EmployeesViewModel
@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";

}

<div class="row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4">Create Employee</h1>
    <form method="post" asp-controller="Employees" asp-action="Create" class=" row col-8" enctype="multipart/form-data" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group mb-3 col-6">
            <label class="form-label" asp-for="Image"></label>
            <input asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <partial name="EmployeePartialViews/CreateEditEmployeePartialView"/>

        <div class="mt-4 m-auto">
            <input class="btn btn-primary" type="submit" value="Save" />
            <a asp-controller="Employees" asp-action="Index" class="btn btn-outline-dark">Back to list</a>
        </div>
    </form>
</div>

