<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Demo.Presentation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Demo.Presentation.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-white border-bottom box-shadow mb-3 px-3">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Demo.Presentation</a>

            <div class="d-flex align-items-center ms-auto">

                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <span class="badge bg-success me-3">Admin</span>
                    }
                    else if (User.Identity.IsAuthenticated)
                    {
                        <span class="badge bg-primary me-3">User</span>
                    }
                    <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                        <button type="submit" class="btn btn-outline-danger px-3 py-1">
                            <i class="bi bi-box-arrow-right"></i> Logout
                        </button>
                    </form>
                }
                else if (!User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary px-3 py-1">
                        <i class="bi bi-box-arrow-in-right"></i> Login
                    </a>
                }
            </div>

        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3 col-lg-2 bg-light border-end vh-100 pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">
                            <i class="fa fa-home me-2"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy">
                            <i class="fa fa-user-secret me-2"></i> Privacy
                        </a>
                    </li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Departments" asp-action="Index">
                                <i class="fa fa-building me-2"></i> Departments
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Employees" asp-action="Index">
                                <i class="fa fa-users me-2"></i> Employees
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Roles" asp-action="Index">
                                <i class="fa fa-shield-alt me-2"></i> Roles
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Users" asp-action="Index">
                                <i class="fa fa-user-cog me-2"></i> Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Users" asp-action="PendingUsers">
                                <i class="fa fa-user-cog me-2"></i> Pending Users
                            </a>
                        </li>
                    }
                </ul>
            </div>

            <!-- Main Content -->
            <div class="col-md-9 col-lg-10 pt-3">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted mt-4">
        <div class="container">
            &copy; 2025 - Demo.Presentation - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("ValidationScripts", required: false)
</body>

</html>
