@using Demo.BusinessLogic.DTOs.EmployeeDtos
@using Demo.DataAccess.Models.Employee_Model
@using Demo.DataAccess.Models.Shared.Enums
@using Demo.Presentation.ViewModels.EmployeesViewModel
@using Demo.Presentation.ViewModels.ManagerViewModel.RoleManager
@model CreateEditRoleViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4">Edit Role</h1>
    <form method="post" asp-controller="Roles" asp-action="Edit" class=" row col-8" >
        <div asp-validation-summary="ModelOnly"></div>

        <partial name="RolePartialViews/CreateEditRolePartialView" />

        <div class="mt-4 m-auto">
            <input class="btn btn-primary" type="submit" value="Save" />
            <a asp-controller="Roles" asp-action="Index" class="btn btn-outline-dark">Back to list</a>
        </div>
    </form>
</div>

